!!! 5

%html
  %head
    %title RPG Character Database
    %link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
 
  %body
    %div.Message
      %h1 Welcome to the RPGCharacter.
      %p This is where we will word vomit things about this project.
      %input{:type => "Button", :value => "Register", :onclick => "window.location.href='/register'"}
      %input{:type => "Button", :value => "Register", :onclick => "window.location.href='/login'"}
      -#%a{:type => "button", :title => "Login", :href => "/login"} Login
      -#%a{:type => "button", :title => "Register", :href => "/register"} Register
      
