!!! 5

%html
  %head
    %title RPG Character Database
    %link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
 
  %body 
    %div Make like a tree and leaf, jabroni. You aren't wanted here.