!!! 5

%html
  %head
    %title RPG Character Database
    %link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
 
  %body 
    - rc = locals[:return_code]
    - if rc == 0
      %div<
      Successful login. Click 
      - link = "/userpage/#{locals[:username]}"
      %a{:href => link} here  
      to go to your account.
    - else
      %div Failed to login. Check your username and password. Maybe you have caps-lock on?