!!! 5

%html
  %head
    %title RPG Character Database
    %link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
 
  %body 
    %div Hey, this is your page! Pretty cool, eh jabroni?