!!! 5

%html
  %head
    %title RPG Character Database
    %link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
 
  %body
    %div Hello World
    
    - name = locals[:username]
    - pass = locals[:password]
    
    %div= "name = " + name
    %div= "pass = " + pass
    
