!!! 5

%html
  %head
    %title RPG Character Database
    %link{:rel => "stylesheet", :type => "text/css", :href => url("style.css")}
 
  %body
    %div Hello World
    
    - return_code = locals[:return_code]
    
    %div= "return code = " + return_code